@{
	ViewBag.Title = "Онтология \"Учебные планы\"";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{

}

@section scripts{
<script src="~/AngularApp/Controllers/subjectListController.js"></script>
}

<div ng-controller="subjectListController">
	<div></div>
	Страница находится в разработке!
</div>