@{
	ViewBag.Title = "Онтология \"Учебные планы\"";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
	<link href="~/Content/login.css" rel="stylesheet" />
}

@section scripts{
	<script src="~/AngularApp/Controllers/loginController.js"></script>
}


<form class="login-form" ng-controller="loginController">
	<h1>Вход в систему</h1>
	<div class="form-group">
		<label for="login">Имя пользователя</label>
		<input type="text" class="form-control" id="login" placeholder="Имя пользователя" ng-model="login">
	</div>
	<div class="form-group">
		<label for="password">Пароль</label>
		<input type="password" class="form-control" id="password" placeholder="Пароль" ng-model="password">
	</div>
	<button type="submit" class="btn btn-default btn-login" ng-click="submit()">Вход</button>
</form>