@{
	ViewBag.Title = "Онтология \"Учебные планы\"";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
	<link href="~/Content/study-programme.css" rel="stylesheet" />
}

@section scripts{
<script src="~/AngularApp/Controllers/studyProgrammeController.js"></script>
}

<div ng-controller="studyProgrammeController">
	<div ng-if="isEditable()">
		<h1 ng-if="getId()">Редактирование дисциплины URI: {{getId()}}</h1>
		<h1 ng-if="!getId()">Создание новой дисциплины</h1>
		<div class="edit-area">
			<div class="property form-group">
				<div class="property-name">Название</div>
				<div class="property-value">
					<input type="text" class="form-control" ng-model="data.Title" />
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Выпускающая кафедра</div>
				<div class="property-value">
					<select class="form-control" ng-model="data.Department">
						<option value=""> ---------------------- </option>
						<option ng-repeat="item in departments" value="{{item.Id}}">{{item.Title}}</option>
					</select>
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Профиль</div>
				<div class="property-value">
					<select class="form-control" ng-model="data.Profile">
						<option value=""> ---------------------- </option>
						<option ng-repeat="item in profiles" value="{{item.Id}}">{{item.Title}}</option>
					</select>
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Направление подготовки</div>
				<div class="property-value">
					<select class="form-control" ng-model="data.Direction">
						<option value=""> ---------------------- </option>
						<option ng-repeat="item in directions" value="{{item.Id}}">{{item.Title}}</option>
					</select>
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Дисциплины</div>
				<div class="property-value">
					<div ng-repeat="item in subjects">
						<label>
							<input type="checkbox" ng-model="item.isSelected" />
							<span ng-bind="item.Title"></span>
						</label>
					</div>
				</div>
			</div>
			<button class="btn btn-primary btn-save" ng-click="save()">Сохранить</button>
		</div>


	</div>
	<div ng-if="!isEditable()">
		<h1>Дисциплина URL: {{getId()}}</h1>
		<div class="edit-area">
			<div class="property form-group">
				<div class="property-name">Название</div>
				<div class="property-value">
					<span ng-bind="data.Title"></span>
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Выпускающая кафедра</div>
				<div class="property-value">
					<span ng-bind="data.Department.Title"></span>
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Профиль</div>
				<div class="property-value">
					<span ng-bind="data.Profile.Title"></span>
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Направление подготовки</div>
				<div class="property-value">
					<span ng-bind="data.Direction.Title"></span>
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Дисциплины</div>
				<div class="property-value">
					<div ng-repeat="subject in data.Subjects track by $index">
						<div ng-bind="subject.Title"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>