@{
	ViewBag.Title = "Онтология \"Учебные планы\"";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
	<link href="~/Content/subject-edit.css" rel="stylesheet"/>
}

@section scripts{
	<script src="~/AngularApp/Controllers/subjectEditController.js"></script>
}
<div ng-controller="subjectEditController">
	<div ng-if="isPageVisible()">
		<h1 ng-if="getId()">Редактирование дисциплины URL: {{getId()}}</h1>
		<h1 ng-if="!getId()">Создание новой дисциплины</h1>
		<div class="edit-area">
			<div class="property form-group">
				<div class="property-name">Название</div>
				<div class="property-value">
					<input type="text" class="form-control" ng-model="subject.Title"/>
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Форма контроля</div>
				<div class="property-value">
					<div>
						<label>
							<input type="checkbox" ng-model="focs.test"/>
							Зачет
						</label>
					</div>
					<div>
						<label>
							<input type="checkbox" ng-model="focs.exam"/>
							Экзамен
						</label>
					</div>
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Семестр</div>
				<div class="property-value">
					<div>
						<label>
							<input type="checkbox" ng-model="modules.first" />
							1 семестр
						</label>
					</div>
					<div>
						<label>
							<input type="checkbox" ng-model="modules.second" />
							2 семестр
						</label>
					</div>
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Часы для проведения практических занятий</div>
				<div class="property-value">
					<input type="number" class="form-control" ng-model="subject.HasHourForPract" />
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Часы для проведения лекций</div>
				<div class="property-value">
					<input type="number" class="form-control" ng-model="subject.HasHourForLecture" />
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Часы для проведения лабораторных работ</div>
				<div class="property-value">
					<input type="number" class="form-control" ng-model="subject.HasHourForLab" />
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Часы для проведения коллоквиумов</div>
				<div class="property-value">
					<input type="number" class="form-control" ng-model="subject.HasHourForKoll" />
				</div>
			</div>
			<div class="property form-group">
				<div class="property-name">Часы для самостоятельной работы студентов</div>
				<div class="property-value">
					<input type="number" class="form-control" ng-model="subject.HasHourForInd" />
				</div>
			</div>
			<button class="btn btn-primary btn-save" ng-click="save()">Сохранить</button>
		</div>
		

	</div>
	<div ng-if="!isPageVisible()">
		<h1 class="authorization-error">Страница недоступна для роли "{{userRole}}"</h1>
	</div>
</div>