@{
	ViewBag.Title = "Онтология \"Учебные планы\"";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
	<link href="~/Content/subject-list.css" rel="stylesheet" />
}

@section scripts{
	<script src="~/AngularApp/Controllers/subjectListController.js"></script>
}

<div ng-controller="subjectListController">
	<a class="btn btn-default pull-right" href="~/SubjectEdit/0">Новая дисциплина</a>
	<h1>Список дисциплин</h1>
	<div class="filters">
		<div class="filter form-group">
			<div class="filter-name">Название</div>
			<div class="filter-value">
				<input type="text" class="form-control" ng-model="filters.Title"/>
			</div>
		</div>
		<div class="filter form-group">
			<div class="filter-name">Форма контроля</div>
			<div class="filter-value">
				<select class="selectpicker form-control" ng-model="filters.FormsOfControl">
					<option ng-repeat="fc in formsOfControl" value="{{fc.id}}">{{fc.name}}</option>
				</select>
			</div>
		</div>
		<div class="filter form-group">
			<div class="filter-name">Часы для проведения практических занятий</div>
			<div class="filter-value">
				<input type="number" class="form-control" ng-model="filters.HasHourForPract" />
			</div>
		</div>
		<div class="filter form-group">
			<div class="filter-name">Часы для проведения лекций</div>
			<div class="filter-value">
				<input type="number" class="form-control" ng-model="filters.HasHourForLecture" />
			</div>
		</div>
		<div class="filter form-group">
			<div class="filter-name">Часы для проведения лабораторных работ</div>
			<div class="filter-value">
				<input type="number" class="form-control" ng-model="filters.HasHourForLab" />
			</div>
		</div>
		<div class="filter form-group">
			<div class="filter-name">Часы для проведения коллоквиумов</div>
			<div class="filter-value">
				<input type="number" class="form-control" ng-model="filters.HasHourForKoll" />
			</div>
		</div>
		<div class="filter form-group">
			<div class="filter-name">Часы для индивидуальных занятий</div>
			<div class="filter-value">
				<input type="number" class="form-control" ng-model="filters.HasHourForInd" />
			</div>
		</div>
		<button class="btn btn-primary filters-submit" ng-click="reload()">Применить фильтры</button>
	</div>

	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					Название
				</th>
				<th>
					Часы для проведения практических занятий
				</th>
				<th>
					Часы для проведения лекций
				</th>
				<th>
					Часы для проведения лабораторных работ
				</th>
				<th>
					Часы для проведения коллоквиумов
				</th>
				<th>
					Часы для индивидуальных занятий
				</th>
				<th>
					Форма контроля
				</th>
				<th ng-if="canEdit()"></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="subject in subjects track by $index">
				<th ng-bind="subject.Id"></th>
				<th ng-bind="subject.Title"></th>

				<th ng-bind="subject.HasHourForPract"></th>
				<th ng-bind="subject.HasHourForLecture"></th>
				<th ng-bind="subject.HasHourForLab"></th>
				<th ng-bind="subject.HasHourForKoll"></th>
				<th ng-bind="subject.HasHourForInd"></th>
				<th ng-bind="formatFormsOfControl(subject.FormsOfControl)"></th>
				<th class="actions" ng-if="canEdit()">
					<a class="btn btn-default" ng-href="/SubjectEdit/{{subject.Id}}">Редактировать</a>
					<button class="btn btn-danger" ng-click="remove(subject.Id)">Удалить</button>
				</th>
			</tr>
		</tbody>
	</table>
</div>