@{
	ViewBag.Title = "Онтология \"Учебные планы\"";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
	<link href="~/Content/subject-edit.css" rel="stylesheet" />
}

@section scripts{
	<script src="~/AngularApp/Controllers/subjectEditController.js"></script>
}
<div ng-controller="subjectEditController">
	<h1></h1>
</div>
