@{
	ViewBag.Title = "Онтология \"Учебные планы\"";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
}

@section scripts{
	<script src="~/AngularApp/Controllers/uploadController.js"></script>
}

<div ng-controller="uploadController">
	<div ng-if="isPageVisible()">
		<h1>Загрузка RDF-триплетов</h1>
		<p></p>
		<form action="~/api/rdf/import" enctype="multipart/form-data" method="post">
			<input type="file" name="rdf" onchange="angular.element(this).scope().uploadFile(this.files)">
		</form>
	</div>
	<div ng-if="!isPageVisible()">
		<h1 class="authorization-error">Страница недоступна для роли "{{role}}"</h1>
	</div>
</div>